@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'GFS Didot', sans-serif;
    color:slategrey;

}

/*headings & logo */

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

logo {
    float:none
    font-size: 300%;
    margin-left: auto;
}

/* navigaton links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid slategray;
}

.active {
    border-bottom: 1px solid slategray;
}

/* hero image & cover text*/

#hero-outer {
    height: 600px;
    width:100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff
}

#hero-image {
    height: 600px;
    width:100%;
    background: url('../images/hero-image.png') no-repeat center center;
    /*animates hero-zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/*creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}

#cover-text {
    font-size: 130%;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 160, 407, .7);
    
    bottom: 30px;
    right: 120px;
    
    position: absolute;
}