@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
    color: black;
    text-align: center;
}

.hero-image {
    background-image: url("/assets/images/solitude-entering-the-storm1");
    background-color: rgb(255, 255, 255);
    height:100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    transition: 6s;;

    animation-name: animate;
    animation-direction:alternate-reverse;
    animation-duration: 36s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate{
    0%{
        background-image:url("/assets/images/solitude-entering-the-storm1.jpg");
    }20%{
        background-image:url("/assets/images/a-spiral-daisy.jpg");
    }40%{
        background-image:url("/assets/images/peace-corn.JPG");
    }60%{
        background-image:url("/assets/images/stunning-salthill.jpg");
    }80%{
        background-image:url("/assets/images/sunset-salthill-blue&yellow.JPG");
    }100%{
        background-image:url("/assets/images/a-syrphid-fly.JPG");
    }

}

#hero-logo img {
    opacity: .5;
    max-width: 500px;
    max-height: 180px;
    left: 30%;
    position: relative;
}

a {
    text-decoration:none;
}

#logo img[src="/assets/images/logo.jpg"] {
    color: rgb(255, 255, 255);
    max-width: 600px;
    max-height: 200px;
    position: relative;
    object-fit: contain;
    object-position: 50% 50%;
    cursor: pointer;
    margin: 2px;
}
/* Container for images?? */
.image img {
    height: 90%;
    width: 90%;
    position:relative;
    object-fit:contain;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
  }

/*style button on Entry Page */
button {
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    position: relative;
    left: 31%;
    top: 220px;
    border-radius: 50%;
}
button, a:hover {
color: rgb(0, 0, 0);
text-decoration: underline;
}

/* Pagination CSS  */

.pagination {
    position: relative;
}

ol {
    list-style-type: none;
    display: block;
    margin: 10px;
}

ol li {
    float: left;
    display: block;
}

ol li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    background-color: turquoise;
}

ol li a:hover {
    background-color: yellow;
}

/* Footer */
.social-networks {
    height: fit-content;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

  /* ---HOME PAGE --- */
/* Home page starts here with h-container for the home system grid */

.h-container {
    display: grid;
    height: 1600px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.2fr 0.8fr 0.8fr 13fr 13fr 11fr 0.1fr;
    grid-template-areas: 
        "nav nav"
        "main main"
        "page-header page-header"
        "nav-img1 nav-img2"
        "nav-img3 nav-img4"
        "carousel carousel"
        "footer footer";  
}
nav {
    grid-area: nav;
}

.main-header {
    grid-area: main;
}

#page-header {
    grid-area: page-header; 
    padding: 20px 60px;
}
/* targeting the images directly to make sure the size is fitting in the container proportionally */
/* Image as a second, more expressive option to link to Portfolio*/

#nav-img1 {
    grid-area: nav-img1;
    height: 400px;
    width: 600px;
    position:relative;
    object-fit:contain;
    overflow: hidden;
    cursor: pointer;
    margin: 2px; 
} 

/* Image as a second, more expressive option to link to About page*/

#nav-img2 {
    grid-area: nav-img2; 
    height: 400px;
    width: 600px;
    position:relative;
    object-fit:contain;
    cursor: pointer;
    margin: 2px;
}

#nav-img3 {
    grid-area: nav-img3;
    height: 400px;
    width: 600px;
    position:relative;
    object-fit:contain;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}
#nav-img4 {
    grid-area: nav-img4;
    height: 400px;
    width: 600px;
    position:relative;
    object-fit:contain;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}  
/* Carousel */
.carousel {
    background: rgb(255, 0, 0);
    grid-area: carousel; 
}

.footer {
    background: rgb(255, 0, 170);
    grid-area: footer; 
}

/* .p-container for the Portfolia page Grid */

.p-container {
    display: grid;
    height: 5000px;
    width:100%;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.1fr 0.4fr 0.4fr 0.2fr
    /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr */ 10fr 0.2fr; /* 13 Rows, 20 for images & 3 from Nav Logo & page name */
    grid-template-areas: 
        "nav nav"
        "main main"
        "page-header page-header"
        "pagination pagination"
        "p-img-container p-img-container"
    /*  "content1 content1a"
        "content2 content2a"
        "content3 content3a"
        "content4 content4a"
        "content5 content5a"
        "content6 content6a"
        "content7 content7a"
        "content8 content8a"
        "content9 content9a"
        "content10 content10a" */
        "footer footer";
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

#page-header {
    grid-area: page-header; 
}
.pagination {
    grid-area: pagination;
}

.p-img-container {
    grid-area: p-img-container;
    position: relative;
    column-count: 4;
    padding: 10px;
}

.image {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

.p-img-container > img {
    width: 100%;
}

#content1 > img {
    grid-column: span 3;
    grid-row: span 2;
}
/*
#content1 {
    grid-area: content1;
}
#content1a {
    grid-area: content1a;

}
#content2 {
    grid-area: content2;
}
#content2a {
    grid-area: content2a;
}

#content3 {
    grid-area: content3;
}
#content3a {
    grid-area: content3a;
}

#content4 {
    grid-area: content4;
}
#content4a {
    grid-area: content4a;
}

#content5 {
    grid-area: content5;
}
#content5a {
    grid-area: content5a;
}

#content6 {
    grid-area: content6;
}
#content6a {
    grid-area: content6a;
}

#content7 {
    grid-area: content7;
}
#content7a {
    grid-area: content7a;
}

#content8 {
    grid-area: content8;
}
#content8a {
    grid-area: content8a;
}

#content9 {
    grid-area: content9;
}
#content9a {
    grid-area: content9a;
}

#content10 {
    grid-area: content10;
}
#content10a {
    grid-area: content10a;
}
 */
/*
.image img:hover {
    height: 500px;  
    width: 600px;  
}*/

footer {
    grid-area: footer; 
}

.images-2 {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}




/* About Page */ 
/*
.about-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 0.8fr 0.8fr 13fr 13fr 11fr 0.8fr;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main main"
        "page-header page-header page-header page-header"
        "picture writing writing writing"
        "writing writing writing picture"
        "picture writing writing picture"
        "footer footer footer footer"; 
}

nav {
    grid-area: nav;
    background: rgb(251, 255, 0);
}

main {
    grid-area: main;
}

#page-header {
    background: rgb(25, 0, 255);
    grid-area: page-header; 
}
*/

/* Blog Page HERE */

/* Contact Page */
/* Style inputs with type="text", select elements and textareas */
/* Remove outline of all elements on focus */
/*
.c-container {
    background: tomato;
    height:100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.c-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 0.8fr 0.8fr 10fr 0.8fr;
    grid-template-areas: 
        "nav"
        "main"
        "page-header"
        "f_image"
        "footer";
}
nav {
    grid-area: nav;
    background: rgb(251, 255, 0);
}

main {
    grid-area: main;
}

#page-header {
    background: rgb(25, 0, 255);
    grid-area: page-header; 
}

f_image {
    grid-area: form;
    background-image: url(/source/assets/images/ocean-colors-3.jpg);
}

footer {
    background: rgb(0, 183, 255);
    grid-area: footer; 
}*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: 'Josefin Slab', serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #050505; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  background: rgb(180 180 180);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(255, 255, 255);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { background:rgb(0, 215, 253); }

/*media query to make responsive */

@media only screen and (max-width:750px){
    .p-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.4fr 0.2fr 0.1fr
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
        grid-template-areas: 
        "nav" 
        "main" 
        "page-header" 
        "pagination"
        "content1" "content1a" "content2" "content2a" "content3"
        "content3a" "content4" "content4a" "content5" "content5a"
        "content6" "content6a" "content7" "content7a" "content8"
        "content8a" "content9" "content9a" "content10" "content10a" 
        "footer";
    }
    /* Home page css starts here */
    .home-image {
        width: 2000px;
        height: 200px;
        position: relative;
    }
    .h-container { 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.2fr 0.4fr 0.2fr 13fr 13fr 13fr 13fr 11fr 0.8fr;
        grid-template-areas: 
            "nav"
            "main"
            "page-header"
            "nav-img1" 
            "nav-img2"
            "nav-img3" 
            "nav-img4"
            "carousel"
            "footer";  
    }
}
/* Hamburger Menu-: Made by Erik Terwan 24th of November 2015-MIT License */
   
 
 #menuToggle
 {
   display: block;
   position: fixed;
   top: 50px;  /** NOTE: decrease The pixels if want less space */
   right: 30px;/** NOTE: Change This line */
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #fff;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: yellow;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #ffffff;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Oh yeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -50px;
   
   background: #020202;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translateX(100%);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

@media only screen and (max-width:550px){
    .h-container { 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.2fr 0.4fr 0.2fr 13fr 13fr 11fr 0.8fr;
        grid-template-areas: 
            "nav"
            "main"
            "page-header"
            "nav-img1" 
            "nav-img2"
            "carousel"
            "footer"; 
    }
    .p-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.2fr 0.1fr 
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
        grid-template-areas: 
        "nav" 
        "main" 
        "page-header" 
        "content1" "content1a" "content2" "content2a" "content3"
        "content3a" "content4" "content4a" "content5" "content5a"
        "content6" "content6a" "content7" "content7a" "content8"
        "content8a" "content9" "content9a" "content10" "content10a" 
        "footer";
    }
}
