@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'GFS Didot', sans-serif;
    color: #3a3a3a;

}

/*headings & logo */

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

logo {
    float: left;
    font-size: 300%;
}